name: Build & Deploy

on:
    push:
        branches:
            - main

jobs:
    build_and_push_to_docker_hub:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and push image
              uses: docker/build-push-action@v6
              with:
                  context: .
                  file: src/Dockerfile
                  push: true
                  tags: |
                      ${{ secrets.DOCKERHUB_USERNAME }}/nb-bot:latest

    deploy:
        runs-on: ubuntu-latest
        needs: build_and_push_to_docker_hub

        steps:
            - name: Deploy via SSH
              uses: appleboy/ssh-action@v1.2.0
              with:
                  host: ${{ secrets.SSH_HOST }}
                  username: ${{ secrets.SSH_USER }}
                  password: ${{ secrets.SSH_PRIVATE_KEY }}
                  port: ${{ secrets.SSH_PORT }}
                  script: |
                      docker-compose -f docker-compose.prod.yml pull app
                      docker-compose -f docker-compose.prod.yml up -d --no-deps --force-recreate app
