name: Build & Deploy

on:
    push:
        branches:
            - main

jobs:
    build_and_push_to_docker_hub:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and push image
              uses: docker/build-push-action@v6
              with:
                  context: .
                  file: src/Dockerfile
                  push: true
                  tags: |
                      ${{ secrets.DOCKERHUB_USERNAME }}/nb-bot:latest

    deploy:
        runs-on: ubuntu-latest
        needs: build_and_push_to_docker_hub

        steps:
            - name: Deploy via SSH
              uses: appleboy/ssh-action@v1.2.0
              with:
                  host: ${{ secrets.SSH_HOST }}
                  username: ${{ secrets.SSH_USER }}
                  password: ${{ secrets.SSH_PRIVATE_KEY }}
                  port: ${{ secrets.SSH_PORT }}
                  script: |
                      export POSTGRES_USER=${{ secrets.POSTGRES_USER }}
                      export POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
                      export POSTGRES_DB=${{ secrets.POSTGRES_DB }}
                      export BOT_TOKEN=${{ secrets.BOT_TOKEN }}
                      export MEMBERS_JSON_NAME=${{ secrets.MEMBERS_JSON_NAME }}
                      export PARSE_MODE=${{ secrets.PARSE_MODE }}
                      export YANDEX_GPT_OAUTH_TOKEN=${{ secrets.YANDEX_GPT_OAUTH_TOKEN }}
                      export YANDEX_GPT_FOLDER_ID=${{ secrets.YANDEX_GPT_FOLDER_ID }}
                      docker-compose -f docker-compose.prod.yml pull app
                      docker-compose -f docker-compose.prod.yml up -d --no-deps --force-recreate app
